* {
    margin: 0;
    padding: 0;
}
.align_center {
    text-align: center;
}
.align_left{
    text-align: left;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.study li {
    display: inline-block;
}
.study > li > a:link {
    color: #0098d9;
    text-decoration: none; 
}
.study > li > a:visited {
    color: #0098d9;
}
.study > li > a:hover {
    color: #4DB848;
    font-weight: bold;
    text-decoration: none;
}
.study > li > a:active {
    color: #00ffff;
}
.background {
    width: 1440px;
    height: 560px;
    background-image: url("img/background.jpg");
    background-position: center;
    display: inline-block;
    margin: 0;
}
#about {
    text-align: left;
    width: 600px;
    line-height: 1.6;
    font-size: 30px;
    margin-top: 370px;
    margin-left: 760px;
    padding: 40px;
    background: #ffffff;
}
.font35{
    font-size: 35px;
}
.toplink{
    display: inline-block;
    text-align: left;
    width:1440px;
    height: 100px;
    background: #ffffff;
    padding: 0;
    margin: 0;
}

.menu {
    height: 100px;
    line-height: 100px;
    font-size: 0;
    padding: 0;
    margin: 0;
    text-align: left;
}
.menu span {
    display: inline-block;
    margin: 0 20px;
    padding: 0 80px;
    font-size: 25px;
    font-weight: bold;
    line-height: 100px;
    vertical-align: middle;
}
.menu span img{
    vertical-align: middle;
}
.menu span a{
    color: #000000;
    text-decoration: none;
}
.museum-info {
    margin-top: 20px;
    margin-left: 25px;
}

.museum-info th {
    border-top: 2px solid #000000;
    text-align: left;
    vertical-align: top;
    padding: 70px 100px;
    width: 150px;
    font-weight: bold;
    font-size: 30px;
}

.museum-info td {
    width: 500px;
    border-top: 2px solid #000000;
    vertical-align: top;
    padding: 70px 100px;
    font-size: 20px;
    line-height: 1.6;
    text-align: left;
}
.b_red{
    color: #cd1f1f;
}
.font20{
    font-size: 20px;
}
.purple{
    color: #912bc5;
    font-size: 50px;
    text-align: left;
}
.floor-info-list {
    display: inline-block;
    gap: 60px;
    padding: 0;
}

.floor {
    text-align: center;
    display: inline-block;
    padding: 20px;
    border-left: 1px solid #000000;

}
.floor img {
    margin: 10px auto;
    max-width: 363px;
}
.text-overlay {
    position: absolute;
    color: #ffffff;
    bottom: 10px; left: 10px;
    font-size: 25px;
}
.img-box {
    position: relative;
    margin-bottom: 10px;
}

.img-box img {
    display: block;
    max-width: 363px;
    height: auto;
}